
@{
    ViewData["Title"] = "Index";
}




<!-- End header area -->
<main class="main__content_wrapper">
    <!-- dashboard container -->
    <div class="dashboard__container d-flex">

        <div class="main__content--left">
            <div class="main__content--left__inner">
                <!-- Welcome section -->
                <div class="welcome__section d-flex align-items-center">
                    <div class="welcome__content">
                        <h2 class="welcome__content--title">Welcome Farah Waleed</h2>
                        <p class="welcome__content--desc">An ecommerce dashboard has just that purpose. It provides your ecommerce team with a clear overview of key financial and website KPIs at any time.</p>
                        <a class="welcome__content--btn solid__btn" href="#">Upgrade Account!</a>
                    </div>
                    <div class="welcome__thumbnail">
                        <img src="~/assets/img/welcome-thumbnail.png" alt="img">
                    </div>

                </div>
                <!-- Welcome section .\ -->
                <!-- Currency section -->
                <!-- Currency section .\ -->
                <!-- Sales Report section -->
                <div class="sales__report--section">
                    <div class="sales__report--heading d-flex align-items-center justify-content-between mb-30">
                        <h2 class="sales__report--heading__title">Sales Report</h2>
                        <div class="sales__report--short-by select">
                            <select class="sales__report--short-by__select">
                                <option selected value="1">Sort By</option>
                                <option value="2">Today</option>
                                <option value="3">Yesterday</option>
                                <option value="4">Last 7 Days</option>
                                <option value="5">This Month</option>
                                <option value="6">Last Month</option>
                            </select>
                        </div>
                    </div>
                    <div class="sales__report--table table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th>Sales by</th>
                                    <th>Property name</th>
                                    <th>Sales Type</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="sales__report--author d-flex align-items-center">
                                            <img class="sales__report--author__thumb" src="~/assets/img/sales-report-thumb.png" alt="img">
                                            <h3 class="sales__report--author__name">Lafayette, California</h3>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="sales__report--body__text">Lafayette, California</span>
                                    </td>
                                    <td>
                                        <span class="sales__report--body__text">Sale</span>
                                    </td>
                                    <td>
                                        <span class="sales__report--body__text">$5447.00</span>
                                    </td>
                                    <td>
                                        <span class="sales__report--status paid">Paid</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="sales__report--author d-flex align-items-center">
                                            <img class="sales__report--author__thumb" src="~/assets/img/sales-report-thumb4.png" alt="img">
                                            <h3 class="sales__report--author__name">Lafayette, California</h3>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="sales__report--body__text">Lafayette, California</span>
                                    </td>
                                    <td>
                                        <span class="sales__report--body__text">Rent</span>
                                    </td>
                                    <td>
                                        <span class="sales__report--body__text">$5447.00</span>
                                    </td>
                                    <td>
                                        <span class="sales__report--status pending">Pending</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="sales__report--author d-flex align-items-center">
                                            <img class="sales__report--author__thumb" src="~/assets/img/sales-report-thumb.png" alt="img">
                                            <h3 class="sales__report--author__name">Lafayette, California</h3>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="sales__report--body__text">Lafayette, California</span>
                                    </td>
                                    <td>
                                        <span class="sales__report--body__text">Sale</span>
                                    </td>
                                    <td>
                                        <span class="sales__report--body__text">$5447.00</span>
                                    </td>
                                    <td>
                                        <span class="sales__report--status paid2">Paid</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="sales__report--author d-flex align-items-center">
                                            <img class="sales__report--author__thumb" src="~/assets/img/sales-report-thumb2.png" alt="img">
                                            <h3 class="sales__report--author__name">Lafayette, California</h3>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="sales__report--body__text">Lafayette, California</span>
                                    </td>
                                    <td>
                                        <span class="sales__report--body__text">Ren</span>
                                    </td>
                                    <td>
                                        <span class="sales__report--body__text">$5447.00</span>
                                    </td>
                                    <td>
                                        <span class="sales__report--status paid3">Paid</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="sales__report--author d-flex align-items-center">
                                            <img class="sales__report--author__thumb" src="~/assets/img/sales-report-thumb3.png" alt="img">
                                            <h3 class="sales__report--author__name">Lafayette, California</h3>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="sales__report--body__text">Lafayette, California</span>
                                    </td>
                                    <td>
                                        <span class="sales__report--body__text">Sale</span>
                                    </td>
                                    <td>
                                        <span class="sales__report--body__text">$5447.00</span>
                                    </td>
                                    <td>
                                        <span class="sales__report--status pending2">Pending</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Sales Report section .\ -->
            </div>
        </div>
        <div class="main__content--right">

            <div class="dashboard__sold-out__by-region d-flex mb-30">

                <div class="sales__region--box">
                    <h3 class="sold-out__box--title mb-15">Sales By Region</h3>
                    <div class="dashboard__map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.7458458383303!2d90.40609787592845!3d23.792063087174412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c79ee1521387%3A0x10a2edf1f08ac145!2sCanada%20Visa%20Application!5e0!3m2!1sen!2sbd!4v1714386178402!5m2!1sen!2sbd" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- dashboard container .\ -->


